extends ../layout

block head
  // CSS file for the projects page
  link(rel="stylesheet" href="/stylesheets/main.min.css")

append content
    #terminal
        h1#prompt jazak
            span#symbol  &#8226;
            span#root  ~
            span#directory /Projects
            span#arrow » 
            span#cursor _

    #nav
        p#github-link 
            a(target="_blank" rel="noreferrer" href="https://github.com/jaza-k") GitHub
        span.space &nbsp;
        p#resume-link 
            a(href="#") Résumé
        span.space &nbsp;
        p#projects-link
            a(href="/projects") Projects
        span.space &nbsp;
        p#contact-link
            a(href="#" id="email-link" title="email-alert") Contact

    h3#description Here are some of my most recent projects. To view more, visit my 
        span.git #[a(href="https://github.com/jaza-k" style="color:#6DDF6B;" target="_blank" rel="noreferrer") #[em GitHub]]
        span .

    -
        let projectsList = {
            project0: {
                "url": "https://github.com/jaza-k/personal-website",
                "heading": "jazakhan.com",
                "info": "The inner workings of this website, from the server to client side",
                "tech": ["Node", "Express", "Heroku", "Pug", "SASS"],
                "language": "JavaScript",
            },
            project1: {
                "url": "https://github.com/jaza-k/sshclient",
                "heading": "blacklivesmatter.net",
                "info": "Python script to train a model on your face and then using it to recognize you",
                "tech": ["Python3", "Paramiko", "SCP", "SSH"],
                "language": "Python",
            },
            project2: {
                "url": "https://github.com/jaza-k/blmsite",
                "heading": "SSH/SCP Client",
                "info": "Simple iOS app with Firebase authentication and Cloud Firestore storage",
                "tech": ["React JS", "Netlify", "SASS"],
                "language": "JavaScript",
            },
            project3: {
                "url": "https://github.com/jaza-k/portscan",
                "heading": "PortScan",
                "info": "A real-time messaging application built using Socket.IO and Express",
                "tech": ["Rust's standard libraries"],
                "language": "Rust",
            }
        }

    #projects-display
        ul#project-cards
            - for (let j = 0; j < Object.keys(projectsList).length; j++)
                - let project = projectsList[[`project${j}`]]
                li.card(class=`${project.language.toLowerCase()}`)
                    a(href=project.url).project-link
                        h1.project-heading=project.heading
                        .language
                            .language-circle
                            h3.project-language=project.language
                        p.project-info=project.info
                        p.project-tech=project.tech.join(", ")