extends ../layout

block head
  // CSS file for the projects page
  link(rel="stylesheet" href="/stylesheets/main.min.css")

append content
    #terminal
        h1#prompt jazak
            span#symbol  &#8226;
            span#root  ~
            span#directory /Projects
            span#arrow » 
            span#cursor _

    #nav
        p#github-link 
            a(target="_blank" rel="noreferrer" href="https://github.com/jaza-k") GitHub
        span.space &nbsp;
        p#resume-link 
            a(href="#") Résumé
        span.space &nbsp;
        p#projects-link
            a(href="/projects") Projects
        span.space &nbsp;
        p#contact-link
            a(href="mailto:jaza-k@protonmail.com" id="email-link" title="email-alert") Contact

    h3#description Here are some of my recent projects. To view more, visit my 
        span.git #[a(href="https://github.com/jaza-k" style="color:#6DDF6B;" target="_blank" rel="noreferrer") #[em GitHub]]
        span .

    -
        let projectsList = {
            project0: {
                "url": "https://github.com/jaza-k/personal-website",
                "heading": "jazakhan.com",
                "info": "Node.js application built with the Express framework and hosted on the cloud platform Heroku",
                "tech": ["Node", "Express", "Heroku", "Pug", "SASS, Gulp"],
                "language": "JavaScript",
            },
            project1: {
                "url": "https://github.com/jaza-k/sshclient",
                "heading": "SSH/SCP Client",
                "info": "Python script to handle/automate tasks on a remote host through SSH & SCP using the Paramiko library",
                "tech": ["Python3", "Paramiko", "SCP", "SSH"],
                "language": "Python",
            },
            project2: {
                "url": "https://github.com/jaza-k/blmsite",
                "heading": "BLM Awareness",
                "info": "A modern web application to spread information about the BLM movemment, built in React JS & deployed using Netlify",
                "tech": ["React JS", "Netlify", "SASS, Gulp"],
                "language": "JavaScript",
            },
            project3: {
                "url": "https://github.com/jaza-k/recon",
                "heading": "Recon",
                "info": "Bash script to perform network reconnaissance and tasks such as detect open ports, fingerprint OS, etc. using a given IP address",
                "tech": ["Bash", "Nmap"],
                "language": "Shell",
            }
        }

    #projects-display
        ul#project-cards
            - for (let j = 0; j < Object.keys(projectsList).length; j++)
                - let project = projectsList[[`project${j}`]]
                li.card
                    a(href=project.url).project-link
                        h1.project-heading=project.heading
                        .language
                            .language-circle(class=`${project.language.toLowerCase()}`)
                            h3.project-language=project.language
                        p.project-info=project.info
                        p.project-tech=project.tech.join(", ")